<clickhouse>
  <users>
    <clickhouse>
      <password from_env="CLICKHOUSE_PASSWORD"/>
      <networks>
        <ip>127.0.0.1</ip>
      </networks>
      <profile>default</profile>
      <quota>default</quota>
    </clickhouse>
  </users>
  <profiles>
    <default/>
  </profiles>
  <quotas>
    <default/>
  </quotas>
</clickhouse>
